<div class="container">
  <h1>Google Maps</h1>
  <div class="map-container">
    <google-map 
      mapId="72664a8a10772701"
      height="100%" 
      width="100%" 
      [zoom]="zoom()"
      [center]="center()">
      @for (location of $locations(); track location) {
        <map-advanced-marker 
        #marker="mapAdvancedMarker"
        (mapClick)="openInfoWindow(location, marker)"
        [position]="{lat: location.latitude, lng: location.longitude}" />
      }
      <map-info-window />
  </google-map>
  </div>

  <div class="locations-list">
    <h2>Locations</h2>
    @for (location of $locations(); track location) {
    <div class="location" (click)="selectLocation(location, $index)">
      <h3> {{ location.name }} </h3>
      <p> {{ location.description }} </p>
    </div>
    }
  </div>
</div>